<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/catalog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="../../sources/icon.png" type="image/x-icon">
    <title>TNZY - Catalog</title>
</head>
<body>

    <header dir="rtl">
        <div class="info">
          <button class="userProfile"><i class="fa-solid fa-user"></i></button>
          <button class="cart"><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
        <div class="links">
            <div class="menuBar"><i class="fa-solid fa-bars"></i></div>
            <div class="menu">
                <div class="controle"><i class="fa-solid fa-x"></i></div>
                <ul>
                    <li class="madeYourT"><a href="../designs/">Design a T-shirt</a></li>
                </ul>
            </div>
        </div>
        <div class="logo"><a href="../../">
            <img src="../../sources/logo.png" alt="TNZY">
        </a></div>
    </header>


    <section class="container">
      <div class="catalog" id="catalog">
        <div class="nav">
            <button class="filter-btn active" data-filter="all">All</button>
            <button class="filter-btn" data-filter="plain">Plain</button>
            <button class="filter-btn" data-filter="trendy">Trendy</button>
            <button class="filter-btn" data-filter="career">Career</button>
            <button class="filter-btn" data-filter="sports">Sports</button>
            <button class="filter-btn" data-filter="creative">Creative</button>
            <button class="filter-btn" data-filter="custom">Custom</button>
        </div>
         <div class="product-grid">
            <p>No products yet.</p>
          </div>
      </div>
    </section>

    <div class="productPreview d-none">
      <div class="previewCard">
        <div class="closeBtn"><i class="fa-solid fa-x"></i></div>
        <div class="productImagesContainer">
          <div class="productImage">
            <img src="" alt="Product Image">
          </div>
          <div class="thumbnailContainer">
            <!-- Thumbnails will be dynamically added here -->
          </div>
        </div>
        <div class="productDetails">
          <h2 class="productTitle"></h2>
          <p class="productDescription"></p>
          <div class="productPrice" data-lastPrice="230.00">Price:   <span></span> EGP  <oldPrice></oldPrice></div>
          <div class="contc">
            <div class="quantity"> 
              <label for="quantity">QTY:</label>
              <input type="number" class="qtyInput" name="quantity" value="1" min="1">
            </div>
            <div class="productSize">
              <label for="size">Size:</label>
              <select id="size" name="size">
                <!-- Options will be dynamically added here -->
              </select>
              
            </div>
          </div>
          <div class="regularOversize">
              <div class="regularSizes">
                  <a href="https://res.cloudinary.com/dfochp65f/image/upload/v1767660480/jyod6bu4gtshgcoabgd1.jpg" target="_blank" rel="noopener noreferrer">
                      <i class="fa-solid fa-ruler"></i>
                  </a>
              </div>
              <span>Regular</span>
              <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" value="" id="checkNativeSwitch" switch>
                  <label class="form-check-label" for="checkNativeSwitch">
                      Oversize
                  </label>
              </div>
              <div class="regularSizes">
                  <a href="https://res.cloudinary.com/dfochp65f/image/upload/v1767660497/lqtjn1ktgd8f1ew1so50.jpg" target="_blank" rel="noopener noreferrer">
                      <i class="fa-solid fa-ruler"></i>
                  </a>
              </div>
          </div>
          <button class="addToCartBtn">Add to cart</button>
        </div>
      </div>
    </div>

     <section class="footer">
      <div class="container" id="footer">
        <div class="row first">
          <div class=" info">
            <div class="logoContainer">
              <img src="../../sources/logo2.png" alt="">
            </div>
            <div class="aboutUs">
              <p><span style="font-weight: bold;">TNZY</span> is an online store specializing in custom T-shirts and clothing. We offer you the opportunity to design your own T-shirt using advanced artificial intelligence technologies. Whether you're looking for a simple T-shirt or a unique design that reflects your personality, we're here to make it happen.</p>
            </div>
            <div class="social">
            <a href="https://www.facebook.com/profile.php?id=61578806815180"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/teenzy_store?igsh=NHdsdDdpMzd6eXR1"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@teenzy73?_t=ZS-8zeuAbljmj3&_r=1 "><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://wa.me/+201019023299 "><i class="fa-brands fa-whatsapp"></i></a>
            </div>
          </div>
          <div class=" fast-links">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="../designs/">Design a T-shirt</a></li>
              <li><a href="../../index.html#analyse">Customer Reviews</a></li>
              <li><a href="../policy/shippingInfo.html">Shipping Service</a></li>
              <li><a href="../policy/refunInfo.html">Exchange and Return Policy</a></li>
              <li><a href="../policy/policy.html">Privacy policy</a></li>
              </ul>
            </div>
          <div class=" contact">
            <h3>Contact Us</h3>
            <div class="contact-item">
              <p>Phone: 01019023299</p>
              <p>Email: <a style="color: #fff;" href="mailto:teenzy2525@gmail.com">teenzy2525@gmail.com</a> </p>
            </div>
            </div>
        </div>
        <div dir="rtl" class="row endless">
          <div class="col-10 text-end">
            <p dir="ltr">&copy; 2026 All rights reserved for TNZY.</p>
          </div>
          <div class="col-2 text-center">
            <img src="../../sources/vfcash.png" alt="Vodafone Cash" width="50px">
          </div>
        </div>
      </div>

    </section>

    <div class="mainOverlay"></div>
    <div id="liveAlertPlaceholder"></div>


  <script type="module">
    import {getCookie, setCookie, eraseCookie,appendAlert} from '../../script/main.js';
    import {app, db, collection, getDocs, addDoc, query,limit,where ,deleteDoc,doc,updateDoc,getDoc} from '../../script/app.js';

    const userId = getCookie("userId");
    var zcart={};

    {// load catalog products
      window.addEventListener("load",async()=>{
        var productGrid = document.querySelector(".product-grid");
        productGrid.innerHTML='<p>No products found in this category.</p>';
        productGrid.querySelector("p").style.display = 'none';
        const snap = await getDocs(collection(db, "products"));
        snap.forEach(async (doc) => {
          if(doc.id == 'customized-product'){
            return;
          }
          const data = doc.data();
          // append product-item
          var myfvpr = window.localStorage.favoriteProducts;
          var div = document.createElement("div");
          div.classList.add("card");
          div.setAttribute("data-productId",doc.id);
          if(myfvpr){
            for(var i=0;i< JSON.parse(myfvpr).length;i++){
              if(JSON.parse(myfvpr)[i] == doc.id){
                div.setAttribute("data-favorite","favorite");
              }
            }
          }
          div.setAttribute("data-category",data.subname);
          div.innerHTML=`
            <img src="${data.imgUrl[0]}" alt="White T-Shirt">
            <div class="label ${data.status.toLowerCase()}">${data.status}</div>
            <div class="favorite ${myfvpr?JSON.parse(myfvpr).includes(doc.id)?"active":"":""}">
              ${myfvpr?JSON.parse(myfvpr).includes(doc.id)?"❤️":'<i class="fa-solid fa-heart"></i>':'<i class="fa-solid fa-heart"></i>'}
            </div>
            <div class="product-info">
              <div class="product-title">${data.title}</div>
              <div class="action">
                <div class="price">${data.newPrice} EGP</div>
                <div class="lastPrice">${data.oldPrice?data.oldPrice+" EGP":""}</div>
                <div class="add-to-cart">
                  <span class="cart-icon"><i class="fa-solid fa-cart-plus"></i></span> 
                </div>
              </div>
          </div>
          `;
          const totalQty = Object.values(data.avaliableSizes).reduce((a, b) => a + b, 0);
          if(data.status=="soldOut" || totalQty==0){
            div.querySelector(".label").innerText = "Sold Out";
            div.querySelector(".label").classList.remove("sale");
            div.querySelector(".label").classList.add("soldOut");
            div.querySelector(".add-to-cart").style.display='none';
            div.classList.add("soldOutCard");
          }

          div.querySelector(".add-to-cart").addEventListener("click",()=>{
            div.classList.contains("soldOutCard")?appendAlert("This product is sold out.","warning"):
            document.querySelector(".productPreview").classList.remove("d-none");
            // load images container
            document.querySelector(".productPreview .productImagesContainer .productImage img").src = `${data.imgUrl[0]}`;
            const thumbnailContainer = document.querySelector(".productPreview .productImagesContainer .thumbnailContainer");
            thumbnailContainer.innerHTML = '';
            data.imgUrl.forEach((imgUrl, index) => {
              const thumbnail = document.createElement("img");
              thumbnail.src = `${imgUrl}`;
              thumbnail.alt = `Thumbnail ${index + 1}`;
              thumbnail.classList.add("thumbnail");
              if (index === 0) thumbnail.classList.add("active");
              thumbnail.addEventListener("click", () => {
                document.querySelector(".productPreview .productImagesContainer .productImage img").src = `${imgUrl}`;
                thumbnailContainer.querySelectorAll(".thumbnail").forEach(thumb => thumb.classList.remove("active"));
                thumbnail.classList.add("active");
              });
              thumbnailContainer.appendChild(thumbnail);
            });
            // end load images container
            document.querySelector(".productPreview .productTitle").innerText = data.title;
            document.querySelector(".productPreview .productDescription").innerText = data.description;
            document.querySelector(".productPreview .productPrice oldPrice").innerText = data.oldPrice?data.oldPrice+" EGP":"";
            document.querySelector(".productPreview .productPrice span").innerText = data.newPrice;
            document.querySelector(".productPreview .qtyInput").value = 1;
            const avaliableSizes = data.avaliableSizes || [""];
            const sizeSelect = document.querySelector(".productPreview select");
            sizeSelect.innerHTML = '';
            Object.keys(avaliableSizes).forEach(size=>{
              if(avaliableSizes[size] > 0){
                const option = document.createElement("option");
                option.value = size;
                option.text = size;
                sizeSelect.appendChild(option);
              }
            })
            const theQtyAvaliableSize = data.avaliableSizes[sizeSelect.value];
            document.querySelector(".productPreview .qtyInput").setAttribute("max", theQtyAvaliableSize);
            document.querySelector(".productPreview .qtyInput").addEventListener("change",(e)=>{
              if(e.target.value > theQtyAvaliableSize){
                e.target.value = theQtyAvaliableSize;
              }else if(e.target.value < 1){
                e.target.value = 1;
              }
            })
            document.querySelector(".productPreview .addToCartBtn").onclick = (e)=>{
              e.target.setAttribute("disabled", "");
              const productId = doc.id;
              if(getCookie('userId') && !getCookie("emailToVirify")){
                  if(window.localStorage.cart && window.localStorage.cart.length > 0){
                      zcart = JSON.parse(window.localStorage.cart);
                      let found = Object.values(zcart).find(
                      item => item.productId == productId 
                      &&  item.size == document.querySelector(".productPreview select").value
                      && item.sizeType == (document.querySelector(".productPreview .previewCard .regularOversize input").checked?"oversize":"regular")
                      );
                      if (found) {
                          found.quantity +=parseInt(document.querySelector(".productPreview .qtyInput").value);
                          window.localStorage.cart = JSON.stringify(zcart);
                          e.target.removeAttribute("disabled");
                          appendAlert("Product added to cart successfully!","success");
                          // window.location.href = '../orderConfirmation/cart.html';
                      } else {
                          var newProduct = {
                            productId: productId, 
                            quantity:parseInt(document.querySelector(".productPreview .qtyInput").value),
                            size:document.querySelector(".productPreview select").value,
                            sizeType: document.querySelector(".productPreview .previewCard .regularOversize input").checked?"oversize":"regular",
                          }
                          zcart[Object.keys(zcart).length] = newProduct;
                          window.localStorage.cart = JSON.stringify(zcart);
                          e.target.removeAttribute("disabled");
                          appendAlert("Product added to cart successfully!","success");
                          // window.location.href = '../orderConfirmation/cart.html';
                      }
                      
                  }else{
                      zcart = {
                          0:{
                              productId: productId,
                              quantity:parseInt(document.querySelector(".productPreview .qtyInput").value),
                              size:document.querySelector(".productPreview select").value,
                              sizeType: document.querySelector(".productPreview .previewCard .regularOversize input").checked?"oversize":"regular",
                          }
                      };
                      window.localStorage.cart = JSON.stringify(zcart);
                      e.target.removeAttribute("disabled");
                      appendAlert("Product added to cart successfully!","success");
                  }
                  document.querySelector(".productPreview .closeBtn").click();
              }else{
                  appendAlert('Please log in first to add to cart.',"warning");
                  setTimeout(() => {
                    window.location.href = '../login/';
                  }, 5000);
              }
            }
          })

          div.querySelector("img").addEventListener("click",()=>{
            div.classList.contains("soldOutCard")?appendAlert("This product is sold out.","warning"):
            document.querySelector(".productPreview").classList.remove("d-none");
            // load images container
            document.querySelector(".productPreview .productImagesContainer .productImage img").src = `${data.imgUrl[0]}`;
            const thumbnailContainer = document.querySelector(".productPreview .productImagesContainer .thumbnailContainer");
            thumbnailContainer.innerHTML = '';
            data.imgUrl.forEach((imgUrl, index) => {
              const thumbnail = document.createElement("img");
              thumbnail.src = `${imgUrl}`;
              thumbnail.alt = `Thumbnail ${index + 1}`;
              thumbnail.classList.add("thumbnail");
              if (index === 0) thumbnail.classList.add("active");
              thumbnail.addEventListener("click", () => {
                document.querySelector(".productPreview .productImagesContainer .productImage img").src = `${imgUrl}`;
                thumbnailContainer.querySelectorAll(".thumbnail").forEach(thumb => thumb.classList.remove("active"));
                thumbnail.classList.add("active");
              });
              thumbnailContainer.appendChild(thumbnail);
            });
            // end load images container
            document.querySelector(".productPreview .productTitle").innerText = data.title;
            document.querySelector(".productPreview .productDescription").innerText = data.description;
            document.querySelector(".productPreview .productPrice oldPrice").innerText = data.oldPrice?data.oldPrice+" EGP":"";
            document.querySelector(".productPreview .productPrice span").innerText = data.newPrice;
            document.querySelector(".productPreview .qtyInput").value = 1;
            const avaliableSizes = data.avaliableSizes || [""];
            const sizeSelect = document.querySelector(".productPreview select");
            sizeSelect.innerHTML = '';
            Object.keys(avaliableSizes).forEach(size=>{
              if(avaliableSizes[size] > 0){
                const option = document.createElement("option");
                option.value = size;
                option.text = size;
                sizeSelect.appendChild(option);
              }
            })
            const theQtyAvaliableSize = data.avaliableSizes[sizeSelect.value];
            document.querySelector(".productPreview .qtyInput").setAttribute("max", theQtyAvaliableSize);
            document.querySelector(".productPreview .qtyInput").addEventListener("change",(e)=>{
              if(e.target.value > theQtyAvaliableSize){
                e.target.value = theQtyAvaliableSize;
              }else if(e.target.value < 1){
                e.target.value = 1;
              }
            })
            document.querySelector(".productPreview .addToCartBtn").onclick = (e)=>{
              e.target.setAttribute("disabled", "");
              const productId = doc.id;
              if(getCookie('userId') && !getCookie("emailToVirify")){
                  if(window.localStorage.cart && window.localStorage.cart.length > 0){
                      zcart = JSON.parse(window.localStorage.cart);
                      let found = Object.values(zcart).find(
                      item => item.productId == productId 
                      &&  item.size == document.querySelector(".productPreview select").value
                      && item.sizeType == (document.querySelector(".productPreview .previewCard .regularOversize input").checked?"oversize":"regular")
                      );
                      if (found) {
                          found.quantity +=parseInt(document.querySelector(".productPreview .qtyInput").value);
                          window.localStorage.cart = JSON.stringify(zcart);
                          e.target.removeAttribute("disabled");
                          appendAlert("Product added to cart successfully!","success");
                          // window.location.href = '../orderConfirmation/cart.html';
                      } else {
                          var newProduct = {
                            productId: productId, 
                            quantity:parseInt(document.querySelector(".productPreview .qtyInput").value),
                            size:document.querySelector(".productPreview select").value,
                            sizeType: document.querySelector(".productPreview .previewCard .regularOversize input").checked?"oversize":"regular",
                          }
                          zcart[Object.keys(zcart).length] = newProduct;
                          window.localStorage.cart = JSON.stringify(zcart);
                          e.target.removeAttribute("disabled");
                          appendAlert("Product added to cart successfully!","success");
                          // window.location.href = '../orderConfirmation/cart.html';
                        }
                  }else{
                      zcart = {
                          0:{
                              productId: productId,
                              quantity:parseInt(document.querySelector(".productPreview .qtyInput").value),
                              size:document.querySelector(".productPreview select").value,
                              sizeType: document.querySelector(".productPreview .previewCard .regularOversize input").checked?"oversize":"regular",
                          }
                      };
                      window.localStorage.cart = JSON.stringify(zcart);
                      e.target.removeAttribute("disabled");
                      appendAlert("Product added to cart successfully!","success");
                  }
                  document.querySelector(".productPreview .closeBtn").click();
              }else{
                  appendAlert('Please log in first to add to cart.',"warning");
                  setTimeout(() => {
                    window.location.href = '../login/';
                  }, 5000);
              }
            }
          })
          productGrid.prepend(div)
        });
        document.querySelector(".productPreview").addEventListener("click",(e)=>{
          if(e.target.classList.contains("closeBtn") || e.target.classList.contains("fa-solid fa-x") || e.target.classList.contains("productPreview")){
            document.querySelector(".productPreview .productImage img").src = '';
            document.querySelector(".productPreview .productTitle").innerText ='';
            document.querySelector(".productPreview .productDescription").innerText = '';
            document.querySelector(".productPreview .productPrice span").innerText = '';
            document.querySelector(".productPreview .qtyInput").value = 1;
            document.querySelector(".productPreview").classList.add("d-none");
          }
        })
        {// filter categories
          const filterButtons = document.querySelectorAll(' .filter-btn');
          const cards = document.querySelectorAll('.card');
          filterButtons.forEach(btn => {
              btn.addEventListener('click', () => {
                  // remove active from all
                  filterButtons.forEach(b => b.classList.remove('active'));
                  btn.classList.add('active');
                  const filter = btn.getAttribute('data-filter');
                  cards.forEach(card => {
                    const category = card.getAttribute('data-category');
                    if (filter === 'all' || category === filter) {
                        card.classList.remove('hidden');
                    } else {
                        card.classList.add('hidden');
                    }
                    if(document.querySelectorAll('.card:not(.hidden)').length == 0) {
                      productGrid.querySelector("p").style.display = 'block';
                      productGrid.querySelector("p").innerHTML = `No products found in ${filter}.`;
                    } else {
                      productGrid.querySelector("p").style.display = 'none';
                    }
                    if(filter === 'favorite'){
                      cards.forEach(card => {
                        if(card.getAttribute('data-favorite') === 'favorite'){
                          card.classList.remove('hidden');
                        }else{
                          card.classList.add('hidden');
                        }
                      })
                    }
                  });
              });
          });

            {//card action
              // Favorite icon toggle
              document.querySelectorAll(' .favorite').forEach(icon => {
                  icon.addEventListener('click', async() => {
                      if(getCookie('userId') && !getCookie("emailToVirify")){
                          var productId = icon.closest(".card").getAttribute("data-productId");
                          const userRef = doc(db, "users", userId);
                          const userSnap = await getDoc(userRef);
                          if (userSnap.exists()) {
                              const userData = userSnap.data();
                              var favoriteProducts = userData.favoriteProducts || [];
                              if(favoriteProducts && favoriteProducts.includes(productId)){
                                  favoriteProducts = favoriteProducts.filter(item => item !== productId);
                              }else{
                                  favoriteProducts.push(productId);
                              }
                              updateDoc(doc(db, "users", userId), {
                                  favoriteProducts:favoriteProducts
                              }).then(() => {
                                  window.localStorage.favoriteProducts = JSON.stringify(favoriteProducts);
                                  icon.classList.toggle('active');
                                  icon.innerHTML = icon.classList.contains('active') ? '❤️' : '<i class="fa-solid fa-heart"></i>';
                              });
                          }
                          // Here you can add code to actually handle the favorite action (e.g., update a database or local storage)
                      }else{
                          appendAlert('Please log in first to add to favorites.',"warning");
                          setTimeout(() => {
                            window.location.href = '../login/';
                          }, 5000);
                      }
                  });
              });
            }
          
        }
      })
    }

    {// header
    const header =document.querySelector("header")
    const menuBar =document.querySelector("header .links .menuBar")
    const menu =document.querySelector("header .links .menu")
    const menuControle =document.querySelector("header .links .menu .controle")
    const overlay =document.querySelector(".mainOverlay");
    const info =document.querySelector("header .info");
    menuBar.addEventListener("click",()=>{
      header.style.overflow = 'visible';
        menu.style.right =0;
        info.style.right = '85px'
        overlay.style.display = 'block';
    })
    menuControle.addEventListener("click",()=>{
      header.style.overflow = 'hidden';
        menu.style.right ="-100%";
        info.style.right = '-100%'
        overlay.style.display = 'none';
    })
    menu.querySelectorAll("ul li").forEach(link=>{
      header.style.overflow = 'hidden';
        link.addEventListener("click",()=>{
            menu.style.right ="-100%";
            info.style.right = '-100%'
            overlay.style.display = 'none';
        })
    })
    overlay.addEventListener("click",()=>{
      header.style.overflow = 'hidden';
        menu.style.right ="-100%";
        info.style.right = '-100%'
        overlay.style.display = 'none';
    })

    document.querySelector("header .info .userProfile").addEventListener("click",()=>{
        if(getCookie('userId')){
            if(!getCookie("emailToVirify")){
                window.location.href = '../profile/';
            }else{
                window.location.href = '../login/verify.html';
            }
        }else{
            window.location.href = '../login/';
        }
    })
    document.querySelector("header .info .cart").addEventListener("click",()=>{
        if(getCookie('userId') && !getCookie("emailToVirify")){
            if(window.localStorage.cart && Object.values(JSON.parse(window.localStorage.cart)).length > 0){
                window.location.href = '../orderConfirmation/cart.html';
            }else{
                appendAlert("Please add products to your cart first.","warning");
            }
        }else{
            appendAlert('Please log in first to view your cart.',"warning");
            setTimeout(() => {
              window.location.href = '../login/';
            }, 5000);
        }
    })
    }
  
  </script>
</body>
</html>
