:root {
  --mainbgcolor: #fff;
  --primarybgcolor: #efeff2;
  --mainFontcolor: #c0c0c0;
  --maincolor: #198754;
  --exstracolor:#178f57;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 400;
  font-style: normal;
  scrollbar-width: thin; /* "auto" | "thin" | "none" */
  scrollbar-color: #198754 #e6e7ea; /* thumb | track */
}

/* Works in Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px; /* scrollbar width */
  height: 12px; /* scrollbar height (for horizontal) */
}

::-webkit-scrollbar-track {
  background: #e6e7ea; /* track background */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #198754; /* thumb color */
  border-radius: 8px; /* rounded corners */
  border: 2px solid #e6e7ea; /* space around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #146c43; /* darker on hover */
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: var(--mainbgcolor);
  overflow-x: hidden;
}

@media only screen and (max-width: 800px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  header .links .menuBar {
    display: block !important;
  }
  header .info {
    position: absolute;
    top: 11px;
    right: -100%;
    z-index: 5;
    transition: 0.7s;
  }
  header .menu {
    height: 100vh;
    /* width: 35%; */
    background-color: rgba(221, 221, 221, 0.9725490196);
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -100%;
    padding: 10px 20px;
  }
  header .menu .controle {
    display: block !important;
    text-align: right;
    width: 100%;
    margin: 5px 0px 20px 0;
  }
  header .menu .controle i {
    cursor: pointer;
  }
  header .menu ul {
    border-top: 1px solid rgba(0, 0, 0, 0.473);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 0;
  }
  header .menu ul .madeYourT {
    margin-top: 20px;
  }
  header .menu ul .madeYourT button {
    margin-right: 0px !important;
    border-radius: 10px;
  }
  header .menu ul li {
    transition: 0.5s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.473);
    width: 100%;
    padding: 8px 20px 5px 20px;
    width: 100%;
    text-align: left;
  }
  header .menu ul li a {
    color: #000;
  }
  header .menu ul li:hover {
    scale: 1.1;
  }
}
@media only screen and (max-width: 600px) {
  .endless {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .endless p {
    text-align: center !important;
  }
}
@media only screen and (max-width: 500px) {
  section.AI .prompt {
    min-width: 90%;
  }
  section.collection .product-grid {
    min-height: 250px;
  }
  section.collection .card {
    min-width: 150px;
    max-width: 150px;
  }
  .product-info .product-title {
    height: auto !important;
  }
  .product-info .action {
    position: relative !important;
    bottom: 0 !important;
    padding: 0 !important;
  }
  .product-info .lastPrice {
    position: absolute !important;
    left: 0 !important;
    top: 30px !important;
  }
}
.d-none {
  display: none !important;
}

#liveAlertPlaceholder {
  position: fixed;
  top: 0;
  right: -100%;
  width: 60%;
  z-index: 999;
  transition: 0.5s;
}

.mainOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3098039216);
  display: none;
  z-index: 3;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.7137254902);
  box-shadow: 0px 2px 13px 1px var(--mainFontcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 30px;
}
header .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
header .info button {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  transition: 0.8s;
  cursor: pointer;
}
header .info button:hover {
  background-color: var(--maincolor);
  color: #fff;
  scale: 1.1;
}
header .logo a h1 {
  text-align: center;
  color: var(--maincolor);
  font-family: "Satisfy", cursive;
  font-weight: bold;
}
header .logo a h1 span {
  font-family: sans-serif;
  color: var(--exstracolor);
}
header .logo img {
  width: 100px;
}
header .links .menuBar {
  display: none;
  font-size: 23px;
  cursor: pointer;
  transition: 0.3s;
  color: #000;
}
header .links .menuBar:hover {
  color: var(--maincolor);
}
header .links .menu {
  z-index: 4;
  display: flex;
  align-items: center;
  transition: 0.8s;
}
header .links .menu .controle {
  display: none;
}
header .links .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .links .menu ul li {
  cursor: pointer;
  transition: 0.5s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.473);
  padding-top: 8px;
  padding-bottom: 5px;
}
header .links .menu ul li a {
  color: #000;
}
header .links .menu ul li:hover {
  scale: 1.1;
}
header .links .menu ul li:hover a {
  color: #777;
}
header .links .menu ul .madeYourT {
  border-radius: 10px;
}
header .links .menu ul .madeYourT a {
  font-weight: 700;
  font-size: large;
  color: var(--exstracolor);
}
header .links .menu ul .madeYourT a:hover {
  color: var(--maincolor);
}

body {
  background-color: var(--maincolor);
  position: relative;
}

header {
  position: relative;
  overflow: hidden;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.container .catalog {
  background-color: var(--primarybgcolor);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
}
.container .catalog .nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #efeff2;
  padding: 20px 0;
  gap: 20px;
  border-radius: 20px;
  margin: 10px 30px;
}
.container .catalog .nav button {
  background: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.container .catalog .nav button.active {
  background-color: #000;
  color: #fff;
}
.container .catalog .product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  min-height: 320px;
  position: relative;
  transition: 0.5s;
  padding: 10px 0px;
}
.container .catalog .product-grid .card {
  width: 150px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;
  overflow: hidden;
}
.container .catalog .product-grid .card:hover .action {
  bottom: 0;
}
.container .catalog .product-grid .card.soldOutCard {
  opacity: 0.6;
  pointer-events: none;
  filter: grayscale(1);
  position: relative;
}
.container .catalog .product-grid .card.soldOutCard::after {
  content: "Sold out";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primarybgcolor);
  color: #000;
  padding: 10px 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.container .catalog .product-grid .card img {
  width: 100%;
  display: block;
  min-height: 150px;
}
.container .catalog .product-grid .label {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: bold;
}
.container .catalog .product-grid .label.new {
  background-color: var(--maincolor);
}
.container .catalog .product-grid .favorite {
  position: absolute;
  top: 12px;
  right: 12px;
  background: white;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}
.container .catalog .product-grid .favorite.active {
  color: red;
}
.container .catalog .product-grid .product-info {
  padding: 15px 20px;
  height: 100%;
}
.container .catalog .product-grid .product-title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container .catalog .product-grid .rating {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #888;
  margin-bottom: 8px;
}
.container .catalog .product-grid .stars {
  color: #ffc107;
  margin-right: 4px;
}
.container .catalog .product-grid .action {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  transition: 0.5s;
}
.container .catalog .product-grid .price {
  font-weight: bold;
}
.container .catalog .product-grid .lastPrice {
  font-size: 15px;
  text-decoration: line-through;
  position: absolute;
  color: #888;
  top: 60%;
}
.container .catalog .product-grid .add-to-cart {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.container .catalog .product-grid .add-to-cart:hover {
  background-color: #f0f0f0;
}
.container .catalog .product-grid .cart-icon {
  font-size: 16px;
}
.container .catalog .product-grid .hidden {
  display: none !important;
}

.productPreview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.productPreview .previewCard {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  position: relative;
}
.productPreview .previewCard .productImagesContainer .productImage {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.productPreview .previewCard .productImagesContainer .productImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s;
}
.productPreview .previewCard .productImagesContainer .productImage:hover img {
  transform: scale(1.1);
}
.productPreview .previewCard .productImagesContainer .thumbnailContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.productPreview .previewCard .productImagesContainer .thumbnailContainer .thumbnail {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}
.productPreview .previewCard .productImagesContainer .thumbnailContainer .thumbnail:hover, .productPreview .previewCard .productImagesContainer .thumbnailContainer .thumbnail.active {
  border-color: var(--maincolor);
}
.productPreview .previewCard .closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 200;
}
.productPreview .previewCard .productTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
.productPreview .previewCard .productDescription {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  text-align: center;
}
.productPreview .previewCard .productPrice {
  font-size: 18px;
  font-weight: bold;
  color: var(--maincolor);
  margin-top: 10px;
  text-align: center;
  position: relative;
}
.productPreview .previewCard .productPrice::after {
  content: attr(data-lastPrice);
  font-size: 14px;
  text-decoration: line-through;
  color: #888;
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.productPreview .previewCard .contc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.productPreview .previewCard .quantity {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.productPreview .previewCard .quantity .qtyInput {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  outline: none;
}
.productPreview .previewCard .productSize {
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  display: flex;
  justify-content: right;
  gap: 10px;
  margin-top: 10px;
}
.productPreview .previewCard .productSize .sizeOption {
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.productPreview .previewCard .productSize .sizeOption.selected, .productPreview .previewCard .productSize .sizeOption:hover {
  background-color: var(--maincolor);
  color: #fff;
  border-color: var(--maincolor);
}
.productPreview .previewCard .addToCartBtn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--maincolor);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s;
}
.productPreview .previewCard .addToCartBtn i {
  margin-right: 5px;
}
.productPreview .previewCard .addToCartBtn:hover {
  background-color: var(--maincolor);
}

@media only screen and (max-width: 500px) {
  .container .catalog .product-grid .product-info {
    padding: 15px 10px;
  }
  .container .catalog {
    padding: 20px 10px;
  }
  .container .catalog .product-grid {
    gap: 5px;
  }
  .container .catalog .product-grid .card {
    margin-bottom: 10px;
  }
}
.footer {
  min-height: auto;
  background-color: var(--maincolor);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.footer .row.first {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 40px 0;
}
.footer .row.first .info {
  display: grid;
  gap: 10px;
  letter-spacing: 2px;
}
.footer .row.first .info .logoContainer {
  overflow: hidden;
  text-align: center;
}
.footer .row.first .info .logoContainer img {
  width: 100px;
}
.footer .row.first .info .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer .row.first .info .social a {
  color: #fff;
  font-size: 20px;
  transition: 0.5s;
}
.footer .row.first .info .social a:hover {
  color: var(--mainFontcolor);
  scale: 1.2;
}
.footer .row.first .fast-links {
  display: grid;
  gap: 10px;
}
.footer .row.first .fast-links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .row.first .fast-links ul li a {
  color: #fff;
  transition: 0.5s;
}
.footer .row.first .fast-links ul li a:hover {
  color: var(--mainFontcolor);
  scale: 1.1;
  text-decoration: underline;
}
.footer .row.first .contact {
  display: grid;
  gap: 10px;
}
.footer .row.first .contact .contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.footer .row.first .contact .contact-item i {
  font-size: 20px;
}
.footer .endless {
  border-top: 1px solid #fff;
  padding: 10px 0;
  flex-wrap: wrap;
}
.footer .endless .col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .footer .row.first {
    gap: 50px;
  }
}
.footer {
  background-color: var(--exstracolor);
}/*# sourceMappingURL=catalog.css.map */