<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="shortcut icon" href="../../sources/icon.png" type="image/x-icon">
    <title>ZERO - Profile</title>
</head>
<body>
    <header dir="rtl">
        <div class="info">
          <button class="cart"><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
        <div class="links">
            <div class="menuBar"><i class="fa-solid fa-bars"></i></div>
            <div class="menu">
                <div class="controle"><i class="fa-solid fa-x"></i></div>
                <ul dir="ltr">
                    <li class="madeYourT"><a href="../designs/">Design a T-shirt</a></li>
                    <li><a href="../catalog/">Catalog</a></li>
                </ul>
            </div>
        </div>
        <div class="logo"><a href="../../">
            <img src="../../sources/logo.png" alt="ZERO">
        </a></div>
    </header>

    <div class="container main" dir="rtl">
        <div class="info" dir="ltr">
            <div class="profile-pic">
                <img src="../../sources/user.png" alt="Profile Picture">
            </div>
            <div class="user-details">
                <div class="inputs">
                    <input type="text" class="form-control fName" placeholder="First Name">
                    <input type="text" class="form-control lName" placeholder="Last Name">
                </div>
                <input type="text" disabled class="email" value="">
                <button class="edit-profile btn btn-success">Save</button>
            </div>
            <div class="addresses">
                <h3>Addresses</h3>
                <div class="address-list">
                    <p>No addresses yet.</p>
                </div>
                <button class="add-address btn btn-primary">New Address</button>
            </div>
            <button class="logout">Logout</button>
        </div>
        <div class="orders" dir="ltr">
            <h3>Order History</h3>
            <div class="order-list">
                <!-- <div class="order-item">
                    <div class="orderDetails">
                        <p class="order-id">Order ID: 123456</p>
                        <p class="order-date">Date: 2023-10-01</p>
                        <p class="order-status">Status: Delivered</p>
                        <p class="order-total">Total: $49.99</p>
                    </div>
                    <button class="view-details btn btn-info">View Details</button>
                </div> -->
                 <p class="noOrders">There is no orders yet.</p>
            </div>
        </div>
    </div>

    <div class="orderPreview">
        <div class="orderContent">
            <div class="controle"><i class="fa-solid fa-x"></i></div>
            <h3>Order Details</h3>
            <div class="orderDetailsContent">
                <div class="order-items"></div>
                <!-- Order details will be loaded here -->
            </div>
        </div>
    </div>
    <div class="prompt">
        <div class="container">
            <div class="information">
                <input type="text" class="form-control location" placeholder="Location..">
                <input type="number" class="form-control phone" placeholder="Phone number">
                <input type="text" class="form-control city" placeholder="City">
                <select name="governorate" class="form-control country" id="governorate">
                    <option value="Aswan">Aswan</option>
                    <option value="Assiut">Assiut</option>
                    <option value="Alexandria">Alexandria</option>
                    <option value="Ismailia">Ismailia</option>
                    <option value="Luxor">Luxor</option>
                    <option value="Red Sea">Red Sea</option>
                    <option value="Beheira">Beheira</option>
                    <option value="Beni Suef">Beni Suef</option>
                    <option value="Port Said">Port Said</option>
                    <option value="Giza">Giza</option>
                    <option value="Dakahlia">Dakahlia</option>
                    <option value="Damietta">Damietta</option>
                    <option value="Sohag">Sohag</option>
                    <option value="Sharqia">Sharqia</option>
                    <option value="North Sinai">North Sinai</option>
                    <option value="Gharbia">Gharbia</option>
                    <option value="Fayoum">Fayoum</option>
                    <option value="Cairo">Cairo</option>
                    <option value="Qalyubia">Qalyubia</option>
                    <option value="Qena">Qena</option>
                    <option value="Kafr El Sheikh">Kafr El Sheikh</option>
                    <option value="Menoufia">Menoufia</option>
                    <option value="Minya">Minya</option>
                    <option value="Matrouh">Matrouh</option>
                    <option value="New Valley">New Valley</option>
                    <option value="Suez">Suez</option>
                    <option value="South Sinai">South Sinai</option>
                </select>
            </div>
            <button class="btn btn-success submit">Save</button>
        </div>
    </div>
    <div class="mainOverlay"></div>
    <div id="liveAlertPlaceholder"></div>
    <script type="module" src="../../script/profile.js"></script>
</body>
</html>
